<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>postazipkodu.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Turkiye posta kodu listesi.">
    <meta name="keywords" content="posta kodu, zip kodu, posta kodlari, zip kodlari, Turkiye , istanbul, ankara, izmir, adana, antalya, eskisehir">
    <meta name="author" content="Huseyin Yilmaz">

    <!-- Le styles -->

    <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .r {
	  text-align: right;
      }

      .pt8{
	  padding-top: 8px;
      }

      .h170{
	  height: 170px;
      }
      .pb10{
	  padding-bottom: 10px;
      }
    </style>
    <link href="assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--------------->
    <!-- TEMPLATES -->
    <!--------------->
    <script src="text/template" id="loadingTemplate">
      <img src="assets/images/loader.gif" alt="Loading..."></img>
    </script>
    
    <script src="text/template" id="listTemplate">
      <h3><%= display %> seciniz.</h3>
      <ul class="nav nav-pills nav-stacked">      
      <% collection.each(function(item){
      var value = item.get('value');
      %>
      <li>
	<a id="<%=item.get('model_id')%>"><%=item.get('code')%>
	<%if(value){%>(<%=value%>)<%};%>
      </a>
	
      </li>
      <%});%>
    </ul>
    </script>
    
    <script src="text/template" id="resultTemplate">
      <div class="alert alert-info">
	<a class="close" data-dismiss="alert">×</a>	
	<h2><%=location%> icin posta kodu: <strong><%=code%></strong></h2>
      </div>
    </script>

    <!--------------->
    <!-- ANALYTICS -->
    <!--------------->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29759413-1']);
      _gaq.push(['_setDomainName', 'postazipkodu.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Turkiye Posta Kodu Listesi</a>
	  <div class="r">

	    <a href="https://twitter.com/share" class="twitter-share-button pt8" data-via="yilmaz_huseyin" data-lang="tr" data-size="large" data-hashtags="postazipkodu">Paylas</a>
	    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	    <!-- Place this tag where you want the +1 button to render -->
	    <g:plusone></g:plusone>

	  </div>
	</div>
      </div>
    </div>


    <div class="container">

      <h4 class="pb10">Bulundugunuz ilin posta kodunu bulabilirsiniz. Sadece asagidaki listeden bulundugunuz bolgeyi secin.</h4>
      <div id="resultContainer"></div>

      <div class="row">
	<span class="span3" id="cityContainer"> </span>
	<span class="span3" id="townshipContainer"> </span>
	<span class="span3" id="providenceContainer"> </span>
	<span class="span3" id="districtContainer"> </span>
      </div>
      
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="assets/jquery/jquery-1.7.1.min.js"></script>
    <script src="assets/underscore/underscore-min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/backbone/backbone.js"></script>
    <script src="assets/main.js"></script>

    <!----------------->
    <!-- GOOGLE PLUS -->
    <!----------------->  
    <!-- Place this render call where appropriate -->
    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    
  </body>
</html>
